[
  {
    "name": "default",
    "type": "postgres",
    "host": "",
    "port": ,
    "username": "",
    "password": "",
    "database": "",
    "entities":[
      "src/database/models/*.entity.ts"
    ],
    "migrations": [
      "src/database/migrations/*{.ts,.js}"
    ],
    "cli": {
      "migrationsDir": "src/database/migrations"
    }
  }
]